{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Notes" %}

{% block content %}
	{% for block in craft.entries.section('wines').limit().find() %}
	<article>
		<div class="header-row">
					<div class="wine-details">
						<p><strong>Name, Vantage, Location:</strong><br>
							{{ block.wineName }}, 
							{{ block.vintage }}, 
							{{ block.district }}, 
							{{ block.subRegion }}, 
							{{ block.region }}, 
							{{ block.country }}</p>
					</div>
					<div class="wine-details">
						<p><strong>Color:</strong><br> {{ block.color }}</p>
					</div>
					<div class="wine-details">
						<p><strong>Style:</strong><br> {{ block.style }}</p>
					</div>
					<div class="wine-details">
						<p><strong>Grape Variety:</strong><br>{{ block.grapeVariety }}</p>
					</div>
		</div>
			{% for entry in block.notes %}
			<div class="notes-row">
				<div class="note-details">
						<p><strong>Tasting Date:</strong><br>{{ entry.tastingDate.format('d F Y') }}</p>
					</div>
					<div class="note-details">
						<p><strong>Tasting Place:</strong><br>{{ entry.tastingPlace }}</p>
					</div>
					{% if entry.maturity %}
					<div class="note-details">
						<p><strong>Maturity:</strong><br>{{ entry.maturity }}</p>
					</div>
					{% endif %}
					{% if entry.publication %}
					<div class="note-details">
							<p><strong>Publication:</strong><br>{{ entry.publication }}</p>
					</div>
					{% endif %}
					<div class="note-details">
						<p><strong>Author:</strong><br>{{ entry.author }}</p>
					</div>
					<div class="note-details">
						<p><strong>Rating:</strong><br>{{ entry.rating}}</p>
					</div>
					{% if entry.price %}
					<div class="note-details">
						<p><strong>Average Price:</strong><br>{{ entry.price }}</p>
					</div>
					{% endif %}
				<div class="inner-row">
					<div class="note-details">
						<p>{{ entry.conclusion }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
	</article>
	{% endfor %}
{% endblock %}
