
div.wine-details {
	display: inline-block;
	font-size: 13px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: -5px;
	height: 50px;
	vertical-align: top;
	text-align: center;
}

div.wine-details>p>strong {
	font-size: 14px;
	color: #70e84c;
	margin-bottom: 5px;
}

div.wine-details>p {
	margin: 0px;
}

div.note-details {
	display: inline-block;
	font-size: 13px;
	height: 50px;
	margin-right: -5px;
}

div.notes-row .note-details {
	width: 25%;
}

div.header-row {
	width: 100%;
	border: solid 1px #d1cccc;
	margin-bottom: 3px;
}

div.second-col>div.wine-details {
	border-left: solid 1px #d1cccc;
	width: 33%;
	text-align: left;
}

div.notes-row {
  width: 100%;
  border: solid 1px #d1cccc;
}

div.notes-inner-row {
	width: 100%;
  	border: solid 1px #d1cccc;
  	height: 50px;
  	margin-bottom: 3px;
}

.inner-row {
	width: 100%;
}

p {
	margin: 5px;
}

html, body {
	height : 100%;
}

#container {
	height: 100%;
	min-height: 100%;
}

#content {
	padding-bottom:150px;
	overflow: auto;
}

#footer {
	position: relative;
  	margin-top: -150px; /* negative value of footer height */
  	height: 150px;
  	clear:both;
  	padding-top:20px;
}

img.star-img {
	height: 20px;
	width: 20px;
}

span.note-label {
	font-weight: bold;
	display: block;
	border-bottom: 1px solid #d1cccc;
	padding-right: 5px;
	padding-left: 5px;
}

span.note-value {
	padding-right: 5px;
	padding-left: 5px;
	color: #777777;
}

.comments {
	width: 100%;
	color: #777777;
}

.note-select {
	border-right: 1px solid #d1cccc;
	height: 100%;
	display: inline-block;
}

div.second-col>div.note-details
{
	border-left: 1px solid #d1cccc;
	border-right: 1px solid #d1cccc;
}

div.notes-row>div.second-col {
	padding-right: 0px;
}

div.notes-row>div.first-col {
	padding-left: 0px;
}

div.first-col>div.note-details {
	border-right: 1px solid #d1cccc;
}