{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Wines" %}

{% block content %}

	{% for block in craft.entries.section('wines').limit().find() %}
	<article>
		<div class="header-row">
			<div class="wine-details">
				<p><strong>Name, Vantage, Location:</strong><br>
					{{ block.wineName }}, 
					{{ block.vintage }}, 
					{{ block.district }}, 
					{{ block.subRegion }}, 
					{{ block.region }}, 
					{{ block.country }}</p>
			</div>
			<div class="wine-details">
				<p><strong>Color:</strong><br> {{ block.color }}</p>
			</div>
			<div class="wine-details">
				<p><strong>Style:</strong><br> {{ block.style }}</p>
			</div>
			<div class="wine-details">
				<p><strong>Grape Variety:</strong><br>{{ block.grapeVariety }}</p>
			</div>
		</div>
	</article>
	{% endfor %}
{% endblock %}
